.page_title {
  position: relative;
  font-size: var(--font-size--4);
  font-weight: bold;
  margin-bottom: 40px;
  color: #000;
}
/* .page_title::after {
  position: absolute;
  left: 0;
  bottom: -24px;
  display: block;
  content: "";
  width: 40px;
  height: 3px;
  background-color: #0079cc;
} */
@media screen and (max-width: 767px) {
  .page_title {
    margin-bottom: 48px;
  }
  .page_title::after {
    bottom: -18px;
    width: 36px;
    height: 3px;
  }
}
