.about_company {
  padding-top: 60px;
  width: 100%;
}
.outline_section {
  margin-bottom: 80px;
}
.outline_section table {
  width: 100%;
}
.outline_section table tr:first-of-type {
  border-top: 1px solid #707070;
}
.outline_section table tr:last-of-type {
  border-bottom: 1px solid #707070;
}
.outline_section table tr {
  height: 58px;
  border-bottom: 1px solid #cccccc;
}
.outline_section table th {
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.outline_section table td {
  font-size: 18px;
}
.outline_section p {
  font-size: 16px;
}
.outline_section p:first-of-type {
  margin: 30px 0;
}
/* mision */
.mission_box {
  margin-top: 63px;
  text-align: center;
}
.mission_box .inner {
  display: flex;
  gap: 30px;
}
.mission_box .inner > div {
  padding: 50px;
  width: 50%;
  height: 270px;
  border-radius: 8px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 4px 4px #eee;
  background-color: rgb(247, 247, 247);
}
.mission_box h3::after {
  background-color: #fff;
}
.mission_box h3{
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #0070d2;
}
.mission_box .destription_ko {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
}
.mission_box .destription_en {
  font-size: 16px;
  color: #a1a4aa;
}
