.about_message {
  padding-top: 100px;
}
.contens_box {
  display: flex;
  gap: 80px;
  align-items: center;
}
.contens_box .image {
  width: 45%;
  height: 450px;
  background: url(/public/images/about/about_message.jpg) no-repeat center;
  background-size: cover;
}
.contens_box .text_box {
  width: 45%;
}
.contens_box .text_box .message p {
  padding-bottom: 24px;
  line-height: 1.5;
  font-size: 16px;
}
.contens_box .text_box .signature {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}
