.about_message {
  padding: 100px 0 140px;
}
.contens_box {
  display: flex;
  gap: 80px;
  align-items: center;
}
.contens_box .image {
  width: 45%;
  height: 489px;
  background-color: #6c6c6c;
}
.contens_box .text_box {
  width: 45%;
}
.contens_box .text_box .message p {
  padding-bottom: 24px;
  line-height: 1.5;
  font-size: 18px;
  color: #666666;
}
.contens_box .text_box .signature {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}
