.home_banner {
    width: 100%;
    height: 520px;
    background-color: #B4B4B4;
}
.home_banner p:nth-child(1) {
    padding-top: 140px;
    font-size: 82px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    color: #fff;
}
.home_banner p:nth-child(2) {
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
}