.besiness_firewall section {
  margin-bottom: 80px;
}
.besiness_firewall h3 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.besiness_firewall p {
  font-size: 16px;
}
/* 개요 */
.outline h3 {
  padding-bottom: 20px;
}
/* 특장점 */
.advantages {
  padding: 70px 0;
  background-color: #f7f7f7;
}
.advantages h3 {
  padding: 12px 0 8px;
}
.advantages ul {
  display: flex;
  gap: 50px;
}
.advantages ul li {
  width: 25%;
}
/* 성능 및 주요기능 */
.component > div {
  position: relative;
  margin-bottom: 20px;
  padding: 40px;
  border: 1px solid #f3f3f3;
}
.component > div:last-of-type {
  margin-bottom: 0;
}
.component > div > div {
  display: flex;
}
.component > div > div ul {
  max-width: 700px;
  width: 80%;
}
.component > div > div li {
  position: relative;
  padding-left: 12px;
  padding-bottom: 12px;
  font-size: 16px;
}
.component > div > div li::after {
  position: absolute;
  top: 11px;
  left: 0;
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #333;
}
.component > div > div img {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 250px;
}
/* 모델 및 사양 */
.model ul li {
  padding: 48px;
  border-bottom: 1px solid #cccccc;
}
.model ul li:last-of-type {
  border-bottom: none;
}
.model ul li > div {
  display: flex;
  gap: 60px;
  align-items: center;
}
.model ul li > div img {
  display: block;
  max-width: 485px;
  width: 30%;
  height: auto;
}
.model ul li > div > div {
  width: 70%;
}
.model ul li > div > div dl {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-bottom: 12px;
}
.model ul li > div > div dl dt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 43px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f3f3f3;
}
.model ul li > div > div dl dd {
  font-size: 16px;
}
