.besiness_firewall section {
  margin-bottom: 80px;
}
.besiness_firewall h3 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.besiness_firewall p {
  font-size: 16px;
}
/* 개요 */
.outline h3 {
  padding-bottom: 20px;
}
/* 특장점 */
.advantages {
  padding: 70px 0;
  background-color: #f7f7f7;
}
.advantages h3 {
  padding: 12px 0 8px;
}
.advantages ul {
  display: flex;
  gap: 50px;
}
.advantages ul li {
  width: 25%;
}
/* 성능 및 주요기능 */
.component > div {
  position: relative;
  margin-bottom: 20px;
  padding: 40px;
  border: 1px solid #f3f3f3;
}
.component > div:last-of-type {
  margin-bottom: 0;
}
.component > div > div {
  display: flex;
}
.component > div > div ul {
  max-width: 700px;
  width: 80%;
}
.component > div > div li {
  position: relative;
  padding-left: 12px;
  padding-bottom: 12px;
  font-size: 16px;
}
.component > div > div li::after {
  position: absolute;
  top: 11px;
  left: 0;
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #333;
}
.component > div > div img {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 250px;
}
/* 모델 및 사양 */
.model ul li {
  padding: 48px;
  border-bottom: 1px solid #cccccc;
}
.model ul li:last-of-type {
  border-bottom: none;
}
.model ul li > div {
  display: flex;
  gap: 60px;
  align-items: center;
}
.model ul li > div img {
  display: block;
  max-width: 485px;
  width: 30%;
  height: auto;
}
.model ul li > div > div {
  width: 70%;
}
.model ul li > div > div dl {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-bottom: 12px;
}
.model ul li > div > div dl dt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 43px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f3f3f3;
}
.model ul li > div > div dl dd {
  font-size: 16px;
}
/* 모델2 */
.modle2 {
  padding: 30px;
  background-color: #f3f3f3;
}
.modle2 table {
  display: flex;
  width: 100%;
  word-break: keep-all;
}
.modle2 thead th {
  display: flex;
  flex-direction: column;
  width: 170px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}
.modle2 tbody {
  display: flex;
  gap: 20px;
}
.modle2 thead tr {
  display: block;
  padding: 20px 0;
}
.modle2 tbody tr {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 240px;
  background-color: #fff;
}
.modle2 tbody th {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}
.modle2 tbody th .best {
  position: absolute;
  top: 0;
  padding: 2px 4px;
  color: #fff;
  font-size: 12px;
  background-color: #0079cc;
}
.modle2 tbody td {
  border-bottom: 1px solid #ccc;
}
.modle2 thead th:nth-child(1) {
  border-bottom: none;
}
.modle2 thead th:nth-child(1),
.modle2 tbody th {
  height: 90px;
}
.modle2 thead th:nth-child(2),
.modle2 tbody td:nth-child(2) {
  padding-top: 16px;
  height: 70px;
}
.modle2 thead th:nth-child(3),
.modle2 tbody td:nth-child(3) {
  padding-top: 16px;
  height: 70px;
}
.modle2 thead th:nth-child(4),
.modle2 tbody td:nth-child(4) {
  padding-top: 16px;
  height: 70px;
}
.modle2 thead th:nth-child(5),
.modle2 tbody td:nth-child(5) {
  padding-top: 16px;
  height: 70px;
}
.modle2 thead th:nth-child(6),
.modle2 tbody td:nth-child(6) {
  padding-top: 16px;
  height: 70px;
}
.modle2 thead th:nth-child(7),
.modle2 tbody td:nth-child(7) {
  padding-top: 16px;
  height: 70px;
  border-bottom: none;
}
