.about_location {
  padding-top: 100px;
}
.about_location p {
  padding-bottom: 6px;
  font-size: 18px;
}
.about_location span {
  font-weight: bold;
}
.about_location p:last-of-type {
  padding-bottom: 30px;
}
.about_location .map_image {
  width: 80%;
}
.about_location .map_image img {
  width: 100%;
}
