.about_location {
  padding-top: 80px;
}
.about_location .text_box {
margin-bottom: 30px;
}
.about_location dl {
  display: flex;
}
.about_location dt {
  position: relative;
  padding-left: 12px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.7;
}
.about_location dt::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 4px;
  height: 13px;
  background-color: #0079cc;
}
.about_location dd {
  font-size: 15px;
  color: #555;
}
/* 지도 */
.map_image {
  width: 100%;
  height: 500px;
}
.map_image img {
  width: 100%;
  height: 100%;
}